{% extends "base.html" %} {% block content %}
<section style="max-width: 950px; margin: 0 auto" class="container mt-4">
  {% if vote_details%} {% if chain_not_tampered %}
  <div class="alert alert-success alert-dismissible" role="alert">
    vote not tampered
  </div>
  {% else %}
  <div class="alert alert-danger alert-dismissible" role="alert">
    vote tampered
  </div>
  {% endif %} {% for vote in vote_details %}
  <div class="card border-success mb-3">
    <h5 class="card-header">Block Index: {{vote.index}}</h5>
    <div class="card-body">
      <div class="row">
        <div class="mt-2 col-3">
          <h5 class="card-title">{{vote.candidate}}</h5>
        </div>
        <div class="mt-2 col">
          <p class="card-text"><b>Voter:</b> {{vote.voterhash}}</p>
        </div>
      </div>
    </div>
    <div class="card-footer"><b>Time:</b> {{vote.timestamp}}</div>
  </div>
  {% endfor %} {% else %}
  <div class="card border-dark mb-3">
    <div class="card-body">
      <h5 class="card-title text-center">No Votes in Blockchain</h5>
    </div>
  </div>
  {% endif %}
</section>
{% endblock %}
